# Firebase Configuration
# Copy this file to .env.local and fill in your Firebase project credentials

NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyC9guU_SLwXdris6UZVkw0eVZKEffO7Ilc
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=seismic-monitoring-system.firebaseapp.com
NEXT_PUBLIC_FIREBASE_DATABASE_URL=https://seismic-monitoring-system-default-rtdb.asia-southeast1.firebasedatabase.app
NEXT_PUBLIC_FIREBASE_PROJECT_ID=seismic-monitoring-system
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=seismic-monitoring-system.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=216832577430
NEXT_PUBLIC_FIREBASE_APP_ID=1:216832577430:web:9e74a1008c590a836357b7
